body {
    margin: 0;
}

header {
    font-family: "Segoe UI", "Arial", sans-serif;
    background: url("assets/title_background.png");
    background-size: cover;
    margin: 0;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


nav {
    display: flex;
    justify-content: right;
    gap: 24px;
    background: white;
    padding-right: 32px;
}


footer {
    font-family: "Segoe UI", "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-align: center;
    background-color: aliceblue;
}


a {
    color: inherit;
    text-decoration: none;
}


.padding {
    padding: 32px;
}


.title {
    color: white;
    text-align: center;
    padding: 12px;
    border: solid 1px white;
    box-shadow: inset 0 0 24px 0 white;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    margin: 0 96px;
}


.warning {
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    box-shadow:0 0 24px 10px black;
}


.text {
    font-family: "Segoe UI", "Arial", sans-serif;
    margin: 0 128px 0 128px;
}


.tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 32px, 0 32px;
    font-family: "Segoe UI", "Arial", sans-serif;
    padding: 32px;
}


.censor_tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 12px;
    border-radius: 12px;
    width: 18vh;
    text-align: center;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.censor_tile:hover {
    transform: translateY(-10px) scale(1.03); 
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); 
}


.censor_profile {
    width: 16vh;
    border-radius: 12px;
    justify-content: center;
}


.images_row {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 24px;
    margin: 0 128px 0 128px;
    font-family: "Segoe UI", "Arial", sans-serif;
    text-align: center;
}


.censored_img_tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.censored_img {
    border-radius: 12px;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 4/5;
    object-position: top;
    display: block;
}


.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    
    background-color: aliceblue; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 60px;

    font-family: "Segoe UI", "Arial", sans-serif;
}

.censor_header {
    height: 25vh;
    text-align: center;
    color: white;
}


.censor_header > div {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.discord-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    background-color: #5865F2;
    color: white;
    text-align: center;
    width: 40vh;
    font-family: "Segoe UI", "Arial", sans-serif;
}


.reddit-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    background-color: #FF5700;
    color: white;
    text-align: center;
    width: 40vh;
    font-family: "Segoe UI", "Arial", sans-serif;
}


.collection-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 12px;
    border-radius: 12px;
    width: 40vh;
    text-align: center;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    font-family: "Segoe UI", "Arial", sans-serif;
    font-weight: bold;
}


.collection-tile:hover {
    transform: translateY(-10px) scale(1.03); 
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); 
}


@media (max-width: 600px) {
    h1 { font-size: 24px; }
    h2 { font-size: 18px; }

    .text {
        margin: 0 18px;
    }


    .title {
        margin: 0 0;
    }

    .navbar {
        height: auto;
        padding: 12px 0;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding-right: 0;
        width: 100%;
    }

    .nav_button {
        width: 80%;
        text-align: center;
    }

    header {
        height: 50vh;
    }

    .censor_tile {
        width: 120px;
    }

    .censor_profile {
        width: 100px;
    }

    .censored_img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .padding {
        padding: 16px;
    }

    .images_row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        margin: 0 18px 0 18px;
        font-family: "Segoe UI", "Arial", sans-serif;
        text-align: center;
    }
}